* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    background-color: #fafad2;
    color: #708090;
}

.footer {
    background-color: #708090;
    color: #ffff00;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 15px 10px;
    font-size: larger;
}
.footer > p > span {
    color: #ff0000;
    text-shadow: 0 0 3px #ffffff;
}